.savedCitiesContainer {
  width: 280px;
  padding: 20px 20px;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #fff;
}

.savedCitiesContainer h1 {
  font-size: 20px;
}

.savedCitiesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 20px;
  border-radius: 5px;
}

.savedCities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  border-radius: 5px;
  color: white;

  background-color: #5983fc;
  width: 127px;
  height: 80px;
  padding: 10px;

  margin-bottom: 10px;
  transition: all 250ms linear;
}

.locationName {
  font-size: 14px;
  font-weight: 700;
}

.savedCities:hover {
  box-shadow: 12px 14px 15px -14px rgba(66, 68, 90, 1);
}

.temperature:last-of-type {
  margin-top: 10px;
  font-size: 20px;
}

.deleteIcon {
  position: absolute;
  top: -5px;
  right: -5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: rgb(231, 28, 28);
  box-shadow: 12px 14px 15px -14px rgba(66, 68, 90, 1);

  opacity: 0;
  transition: all 250ms linear;
}

.savedCities:hover .deleteIcon {
  opacity: 1;
  font-size: 16px;

  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .savedCitiesContainer {
    width: 700px;
  }

  .savedCitiesList {
    justify-content: flex-start;
  }

  .savedCitiesList::after {
    content: "";
    flex-grow: 100000000;
  }

  .savedCities:nth-child(4n) {
    margin-right: 0;
  }

  .savedCities {
    margin-right: 10px;
  }
}
